[
  build
]
command = "npm run build"
publish = "dist"

[build.environment]
NODE_VERSION = "20"

# Single Page App routing (if you add routes later)
[[redirects]]
from = "/*"
to = "/index.html"
status = 200
